@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

#wrapper {
    padding: 2%;
}

.centered {
    text-align: center;
    align-items: center;
}

.e-icons.e-large {
    font-size: 70px !important;
    justify-content: center;
}

h1 {
    color: #6e6e6e;
}