@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

#wrapper {
    padding: 2%;
    height: 710px;
}

.centered {
    text-align: center;
    align-items: center;
}

.e-icons.e-large {
    font-size: 70px !important;
    justify-content: center;
    color: #6e6e6e;
}

h1 {
    color: #6e6e6e;
}

.button {
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    margin: 6px 0px;
    transition-duration: 0.1s;
    cursor: pointer;
    background-color: white;
    color: #6e6e6e;
    border: 2px solid #6e6e6e;
    font-weight: bold;
}

.button:hover {
    background-color: #6e6e6e;
    color: white;
}

/*Field list EXTERNO*/
.e-pivotfieldlist-wrapper {
    max-width: 1000px !important;
    height: 860px !important;
}

.e-pivotfieldlist-wrapper.e-dialog {
    max-height: 700px !important;
}

/*Field list INTERNO*/
.e-field-table {
    height: 568px !important;
}

.e-pivotfieldlist-wrapper .e-field-list-tree-outer-div {
    height: 530px !important;
}

.e-axis-table {
    height: 570px;
}

.e-field-list-filters {
    height: 280px;
}

.e-field-list-rows {
    height: 280px;
}

.e-field-list-columns {
    height: 280px;
}

.e-field-list-values {
    height: 280px;
}

.e-draggable-prompt {
    height: 50px !important;
}